# MongoDB
MONGODB_URI="<your-mongodb-atlas-connection-string>"

# Mistral
MISTRAL_API_KEY="<your-mistral-api-key>"

# Groq
GROQ_API_KEY="<your-groq-api-key>"

# Models
MISTRAL_EMBEDDING_MODEL="mistral-embed"
GROQ_RERANK_MODEL="openai/gpt-oss-120b"
GROQ_SUMMARIZATION_MODEL="openai/gpt-oss-120b"